@media (max-width: 992px) {
  .about-us .about-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .theming-btn {
    padding: 10px 15px;
    min-width: 135px;
    text-align: center;
  }
  .about-us .about-actions {
    gap: 15px;
  }
  .top-header .header-contact {
    display: none;
  }
  .top-header .container {
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .services .top-services h1{
    font-size: 53px;
  }
}

@media (max-width: 992px) {
  footer .footer-content .footer-top{
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 60px 0 40px;
  }
  .footer-bottom .footer-bottom-content {
    flex-direction: column;
}
.portfolio .container .shuffle .active{
    padding: 6px 10px;
}
.portfolio .container .shuffle .web , .app , .design , .branding{
    padding: 6px 0;
}
.main-heading .special-heading {
    color: #ebeced;
    font-size: 53px;
}
}